/* Reset some default styles */
body,
ul,
h2 {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366; /* Azul Marino */
  padding: 10px 20px;
  color: #fff;
}

.logo h2 {
  margin: 0;
  font-size: 24px;
}

.navbarMenu {
  display: flex;
  gap: 20px;
  list-style: none;
  flex: 2;
  justify-content: center;
  padding: 0;
}

.navbarMenu li {
  list-style: none;
  font-size: 18px;
  color: #fff;
}

.navbarMenu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Estilos para el CartWidget */
.cartIcon {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.cartIcon:hover {
  color: #cccccc;
}

/* Responsiveness */
@media (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarMenu {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .cartIcon {
    margin-top: 10px;
    justify-content: flex-start;
  }
}
